#[include shell_command.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include homing.cfg]
[include KAMP_Settings.cfg]
#[include bigtreetech-hbb.cfg]
[include timelapse.cfg]
[virtual_sdcard]

# host MCU service is preinstalled and ready to use with:
#[mcu CB1]
#serial: /tmp/klipper_host_mcu
#serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_4F0038001850425938323120-if00

#path: /home/biqu/printer_data/gcodes
#on_error_gcode: CANCEL_PRINT

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_4F0038001850425938323120-if00
restart_method: command

#[mcu adxl]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_E6626087978C262D-if00

[input_shaper]
shaper_freq_x: 58.4
shaper_type_x: mzv
shaper_freq_y: 53.0
shaper_type_y: mzv

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 8300
max_z_velocity: 5
square_corner_velocity: 4
max_z_accel: 100

[skew_correction]
[exclude_object]
# Enable arcs support
[gcode_arcs]
resolution: 0.3

#####################################################################
#      X/Y Stepper Settings
#####################################################################

[tmc5160 stepper_x]
diag1_pin: ^!PC4
cs_pin: PB8
spi_software_miso_pin: PC11
spi_software_mosi_pin: PC12
spi_software_sclk_pin: PC10
run_current: 1.4
stealthchop_threshold: 1
interpolate: False
sense_resistor: 0.075 #0.075
driver_SGT: 3 # (1 + (5 - 1) / 2) -64 is most sensitive value, 63 is least sensitive

[stepper_x]
step_pin: PA14
dir_pin: PA10
enable_pin: !PA13
microsteps: 16
rotation_distance: 40
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_endstop: 0
position_min: -1
position_max: 230
homing_speed: 70
homing_retract_dist: 0

[tmc5160 stepper_y]
diag1_pin: ^!PB0
cs_pin: PC9
spi_software_miso_pin: PC11
spi_software_mosi_pin: PC12
spi_software_sclk_pin: PC10
stealthchop_threshold: 1
run_current: 1.4
interpolate: False
sense_resistor: 0.075 #0.075
driver_SGT: 3 # (1 + (5 - 1) / 2) -64 is most sensitive value, 63 is least sensitive

[stepper_y]
step_pin: PC8
dir_pin: PA15
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_endstop: 0
position_max: 240
homing_speed: 70
homing_retract_dist: 0

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PD2
dir_pin: PD4
enable_pin: !PD3
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -1
position_max: 241
homing_speed: 4
homing_retract_dist: 0 # cartographer needs this to be set to 0

[tmc2209 stepper_z]
uart_pin: PD0
diag_pin: PC6
run_current: 0.85 # Max is 0.9191, try 0.35
stealthchop_threshold: 999999
interpolate: False
sense_resistor: 0.150

[stepper_z1]
step_pin: PB7
dir_pin: PB6
enable_pin: !PB4
microsteps: 16
rotation_distance: 4

[tmc2209 stepper_z1]
uart_pin: PB5
run_current: 0.85 # Max is 0.9191, try 0.35
stealthchop_threshold: 999999
interpolate: False
sense_resistor: 0.150

[z_tilt]
z_positions: -49, 135 #-30, 130
  285, 135   #266, 130
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
points: 10, 132.42
  220, 132.42
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 10
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 10
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.0125
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.


#####################################################################
#   Probe Settings
#####################################################################

[scanner]
serial: /dev/serial/by-id/usb-Cartographer_614e_200006800443303459323220-if00
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: -17            
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.00666
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
# 
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc
scanner_touch_z_offset: 0.05         
#    This is the default and will be overwritten and added to the DO NOT SAVE area by using UI to save z offset
mesh_runs: 2
#    Number of passes to make during mesh scan.
#scanner_touch_speed: 2

[bed_mesh]
zero_reference_position: 115, 132.42   
#    set this to the middle of your bed
speed: 300
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 10, 10
#    start point of bed mesh [X, Y]
mesh_max: 220, 210
#    end point of bed mesh [X, Y]
probe_count: 10, 10
algorithm: bicubic

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105

#[probe]
#pin: PA6
#x_offset: 27
#y_offset: -20
#z_offset: 0
#samples: 3
#samples_result: median
#samples_tolerance: 0.01
#samples_tolerance_retries: 5

#[bed_mesh]
#speed: 175
#mesh_min: 27, 5 # probe as close to origin as possible while remaining fully on the bed
#mesh_max: 222, 203 # (x.position_max - 1), (y.position_max - abs(y_offset)) ; probe as far as possible from the origin while remaining fully on the bed
#probe_count: 3
#algorithm: bicubic
#fade_start: 1
#fade_end: 10
#fade_target: 0

#[safe_z_home]
#home_xy_position: 84.50, 135 # NOTE The probe is at the center of the bed.
#speed: 100.0
#z_hop: 10
#z_hop_speed: 15

#####################################################################
#   Extruder Stepper Settings
#####################################################################

[extruder]
max_extrude_only_distance: 100.0
step_pin: PD5
dir_pin: !PD6
enable_pin: !PB3
microsteps: 16
rotation_distance: 4.59
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB11
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA4
#control: pid
#pid_kd: 86.991
#pid_kp: 21.479
#pid_ki: 1.326
min_temp: 0
max_temp: 300
pressure_advance: 0.04
max_extrude_cross_section: 5 # NOTE Needed for KAMP purge

[tmc2209 extruder]
uart_pin: PD1
run_current: 0.5656
stealthchop_threshold: 999999
interpolate: False
sense_resistor: 0.150

#####################################################################
#   Bed Settings
#####################################################################

[heater_bed]
heater_pin: PB2 #HB
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA3 #TB
#control: watermark
#control: pid
#pid_kp: 64.440
#pid_ki: 0.773
#pid_kd: 1343.571
min_temp: 0
max_temp: 130

#####################################################################
#   Fans
#####################################################################

# FAN2
[controller_fan electronic_enclosure_fan_a]
pin: PB14 #fan on motherboard
max_power: 0.5
fan_speed: 0.5
idle_timeout: 60
idle_speed: 0
stepper: stepper_x, stepper_y, stepper_z

[controller_fan electronic_enclosure_fan_b]
pin: PB10 #second fan on motherboard
max_power: 0.5
fan_speed: 0.5
idle_timeout: 60
idle_speed: 0
stepper: stepper_x, stepper_y, stepper_z

# FAN1
[heater_fan extruder_part_fan]
pin: PA8 #<fan on the head
fan_speed: 1.0
heater_temp: 50.0

# FAN0
[fan]
pin: PB15 #<dual fans behind head

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[bed_screws]
screw1_name: front left
screw1: 26.5, 31
screw2_name: front right
screw2: 196.75, 31
screw3_name: back right
screw3: 196.75, 201
screw4_name: back left
screw4: 26.5, 201

[screws_tilt_adjust]
screw1_name: center
screw1: 84.50, 135
screw2_name: front left
screw2: 0, 51
screw3_name: front right
screw3: 169.75, 51
screw4_name: back right
screw4: 169.75, 221
screw5_name: back left
screw5: 0, 221
horizontal_move_z: 10
screw_thread: CCW-M4

[output_pin beeper]
pin: EXP1_1
value: 0
shutdown_value: 0
pwm: True
cycle_time: 0.0005 ; Default beeper tone in kHz. 1 / 0.0005 = 2000Hz (2kHz)


# [gcode_shell_command cpufreq_set]
# command: sh -c "sudo /usr/bin/cpufreq-set -g $0"
# timeout: 5.0
# verbose: True

# [gcode_macro _cpufreq_set]
# description: set cpu governor
# gcode:
#   {% set governor = params.GOVERNOR|default("performance") %}
#   RESPOND MSG='{"CPU set to %s" % (governor)}'
#   RUN_SHELL_COMMAND CMD=cpufreq_set PARAMS={governor}

[adxl345]
cs_pin: scanner:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    125, 125, 20

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC1, EXP1_3=PC3, EXP1_5=PC0, EXP1_7=PA2, EXP1_9=<GND>,
    EXP1_2=PC2,  EXP1_4=<RST>, EXP1_6=PA0, EXP1_8=PA1, EXP1_10=<5V>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.208
#*# pid_ki = 1.609
#*# pid_kd = 76.619
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 68.692
#*# pid_ki = 1.218
#*# pid_kd = 968.551
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = 0.0012054385321052096
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.082653, -0.122653, -0.076403, -0.037653
#*# 	-0.052653, -0.070153, -0.061403, -0.008903
#*# 	-0.040153, -0.065153, -0.050153, -0.000153
#*# 	-0.031403, -0.056403, -0.025153, 0.018597
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 54.00269999999999
#*# max_x = 165.99269999999999
#*# min_y = 54.0011
#*# max_y = 165.99109999999996
#*#
#*# [skew_correction calilantern_skew_profile]
#*# xy_skew = 0.004072962210770314
#*# xz_skew = -0.00210718585499501
#*# yz_skew = 0.0013010803054082972
#*#
#*# [scanner model default]
#*# model_coef = 1.4057201441809473,
#*# 	  1.727993060499179,
#*# 	  0.7066871135693817,
#*# 	  0.19404005262938165,
#*# 	  0.5783411140803243,
#*# 	  1.0530265904934826,
#*# 	  -0.5861229583563555,
#*# 	  -1.2807906620891127,
#*# 	  0.5451577480666814,
#*# 	  0.7559155852445006
#*# model_domain = 3.132970423959176e-07,3.3353766672466264e-07
#*# model_range = 0.200417,5.100417
#*# model_temp = 46.875026
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.1.0
#*#
#*# [scanner]
#*# scanner_touch_threshold = 2750
#*# mode = touch
#*# scanner_touch_speed = 2
